@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 90vw;
  gap: 1rem;
}

.panel {
  height: 80vh;
  flex: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  display: grid;
  align-items: end;
  justify-content: start;
  padding: 1rem 2rem;
  transition: flex 0.5s ease-in;
  cursor: pointer;
}

.panel h2 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  opacity: 0;
  display: none;
  position: absolute;
}

.panel.active {
  flex: 5;
}
.panel.active h2 {
  display: block;
}

.panel.active.visible h2 {
  opacity: 1;
  transition: opacity 0.3s 0.4s ease-in;
}
